<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<div style="text-align:center">
    <img width="300" src="https://webdev.dartlang.org/angular/images/angulardart.svg">
  <h1>
    {{title}}
  </h1>
  <div class="hero-list">
    <ul class="heroes">
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span>
        {{hero.name}}
      </li>
    </ul>
  </div>
  <hero-detail [hero]="selectedHero"></hero-detail>
</div>
