h1,h2 {
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: 300;
  font-size: 70px;
}
h2 {
  font-weight: 400;
  font-size: 40px;
}
.forms  {
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  background-color: #D5EAF9;
  padding: 15px
}
.id, .name, input{
  font-family: 'Lato', sans-serif;
  margin-bottom: 5px;
  font-size: 20px;
}
.hero-list {
  display: inline-block;
}
.forms {
  display: inline-block;
}
.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.8em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: absolute;
  text-align: left;
  left: -1px;
  top: 0px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
