<div *ngIf="hero" class="forms">
  <h2>{{hero.name}}</h2>
  <div class="id">
    <label>id: </label>
      {{hero.id}}
  </div>
  <div class="name">
      <input [(ngModel)]="hero.name" placeholder="💩">
  </div>
</div>
